.touchableBackground {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .content {
    background-color: gray;
  }

  .cart {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 50% 10% 15%;
    align-content: space-between;
  }
}