.paymentPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100%;
  gap: 1em;

  section {
    height: 100%;
  }

  #purchaseForm {
    display: grid;
    grid-template-rows: 10% 20% 60%;
    height: 100%;
    align-content: center;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;

      textarea {
        flex: 1;
        resize: none;
      }
    }

    span {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }

  .cart {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 50% 10% 15%;
    align-content: space-between;
  }
}

.backButton {
  position: absolute;
  top: 15px;
}