@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600&display=swap');

  :root {
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Inter', sans-serif;
  }
}

/* Reset suave para que el scroll sea elegante */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}