.card {
  width: 100%;
  border: 1px solid white;
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;

  .objectTitle {
    font-weight: bold;
    font-size: 16px;
  }

  .objectPrice {
    font-weight: lighter;
    font-size: 12px;
  }

  .objectImage {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.vertical-card {
  height: 100%;
  grid-template-rows: 20% 50% 5% 15%;
}

.horizontal-card {
  height: 30%;
  grid-template-columns: 30% 10% 20%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-between;

  .objectImage {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .objectPrice {
    grid-row: 1 / span 2;
  }

  button {
    grid-row: 1 / span 2;
  }
}