.card {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  display: grid;
  grid-template-rows: 20% 40% 10% 20%;
  align-content: space-between;
  justify-content: center;

  .objectTitle {
    font-weight: bold;
    font-size: 16px;
  }

  .objectPrice {
    font-weight: lighter;
    font-size: 12px;
  }

  img {
    height: 100%;
    width: auto;
  }
}